@import "styles.css";

.titulo{
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    display: flex;
    align-items: flex-start;
    padding-left: 79px;
    padding-top:50px;
    padding-bottom: 20px;
    word-wrap: inherit;
    
    color: #000000;
}

.btns1{
    display:flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.btns2{
    display:flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.btns3{
    display:flex;
    justify-content: center;
}

.btns4{
    display:flex;
    justify-content:flex-end;
    padding-top: 15%;
    padding-bottom: 15%;  
}

.btns-entrega-dia{
    background-color:#FFFF;
    color: #EB8E78;
    border-color: #EB8E78;
    border:solid 1px;
    font-size: 1rem;
    font-family: var(--DM-Sans);
    text-align:center;
    border-radius: 8px;
    width: 160px;
    right: 163px;
    top: 381PX;
    bottom: 67.21%;
    height: 50px;
}

.btns-entrega-dia:hover{
    background-color: #EB8E78;
    color: #ffff;
    border: 1px solid #eb8e78;
}
