:root {
    --branco: #FFF;
    --branco-acinzentado: #f7f7f7;
    --branco-opacity05: rgba(255, 255, 255, 0.5);
    --cinza-escuro: rgba(100, 100, 111, 0.2);
    --laranja-claro: #f49b3f;
    --verde: #5eae53;
    --vermelho-claro: #eb8e78;
    --marrom-shadow-opacity03: hsla(30, 100%, 19%, 0.3);
    --preto-shadow-opacity02: rgba(100, 100, 111, 0.2);


    --fonte-branca: #FFF;

    --DM-Sans: "DM Sans", sans-serif;
    --Work-Sans: "Work Sans", sans-serif;
    --segoe: 'Segoe UI', sans-serif;
}