@import "styles.css";
@import "base.css";


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    width: 46%;
    height: 328px;
    Margin: 10% auto;
    padding: 42px;
}

#texto{
    font-family: var(--DM-Sans);
    font-size: 36px;
    font-weight: bold;
    color: var(--branco);
    text-align: center;
}

#bttn-check{
    background-color: green;
    opacity: 100%;
}

#check{
    height: 70px;
    width: 70px;
    margin-top: 16px;
}