@import "./flexbox.css";
@import "./base.css";
@import "./styles.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-form {
    width: 30%;
}

.sub-title {
    color: var(--cinza-escuro1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 1.5rem 0 1rem;
}

.label {
    color: var(--cinza-escuro1);
    font-size: .8rem;
    font-weight: 700;
    padding: .8rem 0 .2rem;
    text-transform: uppercase;
}

.input {
    border: 1px solid var(--cinza);
    border-radius: 3px;
    height: 4vh;
}

input::placeholder {
    color: var(--cinza);
    font-family: var(--DM-Sans);
    line-height: 0.5rem;
    padding: 0.2rem;
}

.input-data-nascimento {
    width: 65%;
}

.label-genero {
    padding-right: 0.5rem;
}

.input-genero {
    color: var(--vermelho-shadow);
    padding: 0.2rem .2rem;
    vertical-align: middle;
}

.btn-personal-infos {
    background: var(--branco);
    border: 1px solid var(--vermelho-shadow);
    border-radius: 6px;
    color: var(--fonte-vermelho-claro);
    cursor: pointer;    
    font-family: var(--DM-Sans);
    font-size: 1rem;
    height: 42px;
    padding: .5rem;
}

.btn-personal-infos:active {
    background-color: var(--vermelho-claro);
    border: none;
    color: var(--fonte-branca);
}

.cadastrar {
    cursor: pointer;
    margin: 1rem 0 1rem;
    width: 100%;
}
