@import "styles.css";
.banner-01 {
  height: 400px;
  background-image: url("../img/food01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title-banner-01 {
  color: white;
  font-size: 72px;
  text-align: center;
  margin: 7rem 0;
}

.banner-02 {
  background-color: #5eae53;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-banner-02 {
  width: 150%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px
}

/* .img-banner-02{
  height: 300px;
  width: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0 0;
} */
.txt-banner-02{
  margin-left: 3rem;
}
.txt-banner-02 h2 {
  color: white;
  font-size: 72px;
  text-align: center;
}
.txt-banner-02 p {
  color: white;
  font-size: 20px;
  text-align: justify;
  margin-top: 2rem;
}
