@import "./flexbox.css";
@import "./base.css";
@import "./styles.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--verde);
}

main {
    height: 100vh;
}

.form-login {
    padding: 5rem 2rem 0 0;
    width: 50%;
}

.img-form {
    background: url('../img/bg-login.jpg') no-repeat center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 10px 20px 40px var(--cinza-escuro);
    width: 50%;
}

.logo {
    padding-bottom: 3rem;
    width: 40%;
}

.logo img {
    width: 100%;
}

.form {
    background: var(--branco);
    border: none;
    border-radius: 12px;
    filter: drop-shadow(10px 20px 40px var(--marrom-escuro-shadow-opacity02));
    padding: 0.8rem;
    width: 80%;
}

.welcome {
    border-bottom: 1px solid var(--cinza);
    color: var(--vermelho-claro);
    font-size: 1rem;
}

.input-label {
    padding-top: 0.5rem;
}

.label-email, .label-senha {
    color: var(--vermelho-claro);
    padding-bottom: 0.2rem;
}

.label-senha{
    padding-top: 0.5rem;
}

#email , #senha {
    border: 1px solid var(--cinza);
    border-radius: 3px;
}

.submit {
    border-top: 1px solid var(--cinza);
    margin-top: 1rem;
}

.submit a {
    color: var(--vermelho-claro);
    font-size: 1rem;
}

.btn-login {
    margin-top: 0.5rem;
    width: 25%;
}