@import "styles.css";

.bttn-pagamento{
    background-color:#FFFF;
    color: #EB8E78;
    border-color: #EB8E78;
    border-style: solid;
    font-size: 1rem;
    font-family: var(--DM-Sans);
    border-radius: 8px;
    width: 270px;
    right: 163px;
    top: 381PX;
    bottom: 67.21%;
    height: 50px;
    word-wrap: break-word;
    
}

.titulo{
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    display: flex;
    align-items: flex-start;
    padding-left: 79px;
    padding-top:50px;
    word-wrap: inherit;
    
    color: #000000;
}

.btns1{
    display:flex;
    justify-content: flex-end;
    align-items: stretch;
    padding-bottom: 10px;
   
    
}

.btns2{
    display:flex;
    justify-content:flex-end;
    
}

.btns3{
    display:flex;
    justify-content:flex-end;  
}
