@import "styles.css";

.titulo{
    font-family: var(--Work-Sans);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    display: flex;
    align-items: flex-start;
    padding-left: 79px;
    padding-top:50px;
    padding-bottom: 50px;
    word-wrap: inherit;
    
    color: #000000;
}

.detalhes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--laranja-claro);
    margin-left: 79px;
    margin-right:25px;
    font-family: var(--Work-Sans);
    font-size: 14px;
    font-style: bold;
}

.btn-detalhes{
    background-color: var(--branco);
    color: var(--vermelho-claro);
    border-color: var(--vermelho-claro);
    border:solid 1px;
    font-size: 1rem;
    font-family: var(--DM-Sans);
    border-radius: 8px;
    width: 270px;
    right: 163px;
    top: 381PX;
    bottom: 67.21%;
    height: 50px;
    word-wrap: break-word;
}

.btn-detalhes:hover{
    background-color:var(--vermelho-claro);
    color: var(--branco);
    border: 1px solid var(--vermelho-claro);
}

.minhas-compras{
    margin-bottom: 20%;
}