@import "flexbox.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Work Sans", sans-serif; */
}

a {
  text-decoration: none;
}
#main {
  height: 100%;
}

#main::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-image: url("../img/bg.png");
  background-size: cover;
  opacity: 0.3;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#header {
  background-color: #5eae53;
}

.logo-header {
  height: 50px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.nav-menu {
  margin: 0 1rem;
}

.nav-item {
  color: white;
  margin-left: 2rem;
  font-size: 2rem;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  transition: font-weight 450ms ease-in;
}

.dm-sans:hover {
  font-weight: 700;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  transition: font-weight 450ms ease-in;
}

/* 
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  margin: 0 0.6rem;
  padding: 5px 10px;
  text-align: center;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.1); */
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-card {
  background-color: #eb8e78;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 8px;
  height: 52px;
}

.card {
  height: 340px;
  width: 265px;
  border-radius: 12px;
  background-color: #f7f7f7;
  border: 0px solid #f7f7f7;

  transition: all 450ms;
}

.card-img {
  height: 180px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0 0;
}


/* .card img {
  width: auto;
  height: auto;
  max-height: 180px;
  border-radius: 12px 12px 0 0;
  transition: all 450ms;

} */
.card p {
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  padding: 0.3rem;
  transition: all 450ms;
}

.card button {
  margin: 10px;
  transition: all 450ms;
}

.card:hover {
  height: 340px;
  width: 265px;
  border-radius: 12px;
  background-color: #f49b3f;
  border: 8px solid #f49b3f;
  filter: drop-shadow(10px 20px 40px hsla(30, 100%, 19%, 0.3));
}
.card:hover .card-img {
  border-radius: 12px;
}
.card:hover p {
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  padding: 0.3rem;
  color: white;
}
.card:hover button {
  background-color: #f49b3f;
}
