@import "./flexbox.css";
@import "./base.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Work Sans", sans-serif; */
}

a {
  text-decoration: none;
}

.bg-image {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url(../img/bg2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  opacity: 0.4;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#header {
  background-color: var(--verde);
  position: sticky;
  top: 0;
  z-index: 100;
  /* box-shadow: var(--preto-shadow-opacity02) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px;

}

.logo-header {
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-menu {
  margin: 0 1rem;
}

.nav-item {
  color: var(--fonte-branca);
  margin-left: 2rem;
  font-size: 1.5rem;
}

.dm-sans {
  font-family: var(--DM-Sans);
  transition: font-weight 450ms ease-in;
}

.work-sans {
  font-family: var(--Work-Sans);
  transition: font-weight 450ms ease-in;
}

/* 
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: var(--fonte-branca);
  transition: all 0.5s;
  position: relative;
  margin: 0 0.6rem;
  padding: 5px 10px;
  text-align: center;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.1); */
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid var(--branco-opacity05);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-card {
  background-color: var(--vermelho-claro);
  color: var(--fonte-branca);
  border: none;
  font-size: 1rem;
  font-family: var(--DM-Sans);
  border-radius: 8px;
  height: 42px;
}

.card {
  height: 300px;
  width: 250px;
  border-radius: 12px;
  background-color: var(--branco-acinzentado);
  border: 0px solid var(--branco-acinzentado);

  transition: all 450ms;
}

.card-img {
  height: 50%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0 0;
}

/* .card img {
  width: auto;
  height: auto;
  max-height: 180px;
  border-radius: 12px 12px 0 0;
  transition: all 450ms;

} */
.card p {
  font-size: 1.1rem;
  font-family: var(--DM-Sans);
  text-align: center;
  padding: 0.3rem;
  transition: all 450ms;
}

.card button {
  margin: 10px;
  border: 0px;
  transition: all 450ms;
}

.card:hover {
  /* height: 340px;
  width: 265px; */
  border-radius: 12px;
  background-color: var(--laranja-claro);
  border: 8px solid var(--laranja-claro);
  filter: drop-shadow(10px 20px 40px var(--marrom-shadow-opacity03));
}
.card:hover .card-img {
  border-radius: 12px;
}
.card:hover p {
  font-size: 1.2rem;
  font-family: var(--DM-Sans);
  text-align: center;
  padding: 0.3rem;
  color: var(--fonte-branca);
}
.card:hover button {
  background-color: var(--laranja-claro);
  font-size: 1.1rem;
  border: 1px solid #fff;
}

footer {
  background-color: var(--footer-bg);
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 40px;
}
footer p {
  color: var(--branco);
  font-family: var(--DM-Sans);
  margin: 1rem;
  font-size: 0.9rem;
}
footer p.copyright {
  color: rgb(155, 155, 155);
  margin-bottom: 3rem;
}

footer img {
  margin-right: 2rem;
}

footer ul {
  list-style: none;
  color: var(--branco);
  font-family: var(--DM-Sans);
}

footer ul li {
  padding-bottom: 1rem;
  font-size: 0.9rem;
}

footer ul li.title {
  text-transform: uppercase;
  color: var(--vermelho-claro);
}

footer .social-medias {
  height: 1rem;
}

.svg-icon {
  fill: var(--branco);
  padding-right: 0.5rem;
}
