<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/components.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- Títulos e textos ----------------------------------------------------------------------->
    <div id="titles mb-3">
      <h1 class="h1">H1</h1>
      <hr />
      <h2 class="h2">H2</h2>
      <hr />
      <h3 class="h3">H3</h3>
      <hr />
      <h4 class="h4">H4</h4>
      <hr />
      <h5 class="h5">H5</h5>
      <hr />
      <span class="label">Label</span>
      <hr />
      <span class="text_big">Text_Big</span>
      <hr />
      <span class="text">Text</span>
      <hr />
      <span class="text_gray">Text_Gray</span>
      <hr />
      <span class="text_small">Text_Small</span>
    </div>
    <!-------------------------------------------------------------------------------------------->
    <div class="spacing"></div>
    <!-- Componentes de formulário --------------------------------------------------------------->
    <div class="form-components">
      <div class="mb-2 d-flex flex-column w-20">
        <label for="example" class="form-label">Label</label>
        <input
          type="text"
          class="form-control"
          name="example"
          id="example"
          placeholder="Placeholder"
        />
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          checked
        />
        <label class="form-check-label" for="flexCheckDefault"> Checked </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexUnchecked"
        />
        <label class="form-check-label" for="flexUnchecked"> Unchecked </label>
        <br />
      </div>
    </div>
    <!-------------------------------------------------------------------------------------------->

    <!-- Botões ---------------------------------------------------------------------------------->

    <div class="d-flex mt-2">
      <div>
        <button class="button-primary">Button</button>
      </div>
      <div class="ms-2">
        <button class="button-rounded"></button>
      </div>
    </div>
  </body>
</html>
